<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
        Table &middot; Origin
    </title>

    <link rel="stylesheet" href="/origin/assets/css/origin.css">

    <!-- Favicons -->
    <link rel="icon" href="/origin/favicon.ico">

    <!-- Typekit embed code for Effra and Swister -->
    <script src="https://use.typekit.net/hnj7chl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/origin/" class="masthead-logo">
          <span class="mega-octicon octicon-package"></span>
          Origin
        </a>

        <nav class="masthead-nav">
          <a  href="/origin/guidance/principles">Docs</a>
          <a  href="/origin/about">About</a>
          <a  href="/origin/faq">FAQ</a>
          <a href="https://github.com/fac/origin" target="_blank">GitHub</a>
          <a href="https://github.com/fac/origin/blob/master/README.md#install" target="_blank">Install</a>
        </nav>
      </div>
    </header>

    

    <div class="container">
      <div class="columns docs-layout">
  <div class="one-fourth column">
    
      <h4 class="menu-title">
  Guidance
</h4>
<nav class="menu docs-menu">
  <a class="menu-item " href="/origin/guidance/principles/">
    Principles
  </a>
  <a class="menu-item " href="/origin/guidance/code-style/">
    Code style
  </a>
  <a class="menu-item " href="/origin/guidance/naming-conventions/">
    Naming conventions
  </a>
  <a class="menu-item " href="/origin/guidance/base-styles/">
    Base styles
  </a>
  <a class="menu-item " href="/origin/guidance/utilities/">
    Utilities
  </a>
  <a class="menu-item " href="/origin/guidance/components/">
    Components
  </a>
</nav>

<h4 class="menu-title">
  Utilities
</h4>
<nav class="menu docs-menu">
  <span class="menu-item">
    border
  </span>
  <span class="menu-item">
    border-radius
  </span>
  <a class="menu-item " href="/origin/utilities/background-color/">
    background-color
  </a>
  <a class="menu-item " href="/origin/utilities/font-family/">
    font-family
  </a>
  <a class="menu-item " href="/origin/utilities/font-size/">
    font-size
  </a>
  <a class="menu-item " href="/origin/utilities/font-weight/">
    font-weight
  </a>
  <a class="menu-item " href="/origin/utilities/line-height/">
    line-height
  </a>
  <span class="menu-item">
    list-item
  </span>
  <a class="menu-item " href="/origin/utilities/spacing/">
    spacing
  </a>
  <a class="menu-item " href="/origin/utilities/text-color/">
    text-color
  </a>
</nav>

<h4 class="menu-title">
  Components
</h4>
<nav class="menu docs-menu">
  <a class="menu-item " href="/origin/components/button/">
    Button
  </a>
  <span class="menu-item">
    Card
  </span>
  <span class="menu-item">
    Checkbox
  </span>
  <a class="menu-item " href="/origin/components/heading/">
    Heading
  </a>
  <span class="menu-item">
    List
  </span>
  <a class="menu-item " href="/origin/components/navbar/">
    NavBar
  </a>
  <span class="menu-item">
    Notice
  </span>
  <span class="menu-item">
    RadioButton
  </span>
  <a class="menu-item " href="/origin/components/segmented-control/">
    Segmented Control
  </a>
  <a class="menu-item selected" href="/origin/components/table/">
    Table
  </a>
  <span class="menu-item">
    TableView
  </span>
  <span class="menu-item">
    Tabs
  </span>
  <span class="menu-item">
    TextArea
  </span>
  <span class="menu-item">
    TextInput
  </span>
</nav>

<h4 class="menu-title">
  Layout
</h4>
<nav class="menu docs-menu">
  <span class="menu-item">
    Grid
  </span>
</nav>

    
  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      Table
    </h1>
    <div class="markdown-body">
      <ul id="markdown-toc">
  <li><a href="#default-table" id="markdown-toc-default-table">Default table</a></li>
  <li><a href="#right-aligned-content" id="markdown-toc-right-aligned-content">Right-aligned content</a></li>
  <li><a href="#prominent-rows-and-headers" id="markdown-toc-prominent-rows-and-headers">Prominent rows and headers</a></li>
  <li><a href="#rows-with-vertical-borders" id="markdown-toc-rows-with-vertical-borders">Rows with vertical borders</a></li>
  <li><a href="#individual-cells-with-vertical-borders" id="markdown-toc-individual-cells-with-vertical-borders">Individual cells with vertical borders</a></li>
  <li><a href="#rows-with-minor-content" id="markdown-toc-rows-with-minor-content">Rows with minor content</a></li>
  <li><a href="#parent-headers" id="markdown-toc-parent-headers">Parent headers</a></li>
  <li><a href="#parent-rows" id="markdown-toc-parent-rows">Parent rows</a></li>
  <li><a href="#zebra-stripes" id="markdown-toc-zebra-stripes">Zebra stripes</a></li>
  <li><a href="#desktop-variant" id="markdown-toc-desktop-variant">Desktop variant</a></li>
</ul>

<h2 id="default-table">Default table</h2>

<div class="DocsExample-render clearfix"><table class="Table">
  <thead>
    <tr>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="right-aligned-content">Right-aligned content</h2>

<p>Primarily used for displaying monetary values.</p>

<div class="DocsExample-render clearfix"><table class="Table Table--text-align--right">
  <thead>
    <tr>
      <th class="Table-cell Table-cell--text-align--left">Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="Table-cell Table-cell--text-align--left">Table cell</td>
      <td>£123.45</td>
      <td>£123.45</td>
    </tr>
    <tr>
      <td class="Table-cell Table-cell--text-align--left">Table cell</td>
      <td>£123.45</td>
      <td>£123.45</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table Table--text-align--right"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">class=</span><span class="s">"Table-cell Table-cell--text-align--left"</span><span class="nt">&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell Table-cell--text-align--left"</span><span class="nt">&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>£123.45<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>£123.45<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell Table-cell--text-align--left"</span><span class="nt">&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>£123.45<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>£123.45<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="prominent-rows-and-headers">Prominent rows and headers</h2>

<p>Used to give prominence to unique rows, such as totals in a reporting table.</p>

<div class="DocsExample-render clearfix"><table class="Table">
  <thead>
    <tr>
      <th class="Table-header Table-header--prominent">Table header</th>
      <th class="Table-header Table-header--prominent">Table header</th>
      <th class="Table-header Table-header--prominent">Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr class="Table-row Table-row--prominent Table-row--bold">
      <td class="Table-cell">Prominent and bold table cell</td>
      <td class="Table-cell">Prominent and bold table cell</td>
      <td class="Table-cell">Prominent and bold table cell</td>
    </tr>
    <tr class="Table-row Table-row--bold">
      <td class="Table-cell">Bold table cell</td>
      <td class="Table-cell">Bold table cell</td>
      <td class="Table-cell">Bold table cell</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">class=</span><span class="s">"Table-header Table-header--prominent"</span><span class="nt">&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">class=</span><span class="s">"Table-header Table-header--prominent"</span><span class="nt">&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">class=</span><span class="s">"Table-header Table-header--prominent"</span><span class="nt">&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--prominent Table-row--bold"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Prominent and bold table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Prominent and bold table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Prominent and bold table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--bold"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Bold table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Bold table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Bold table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="rows-with-vertical-borders">Rows with vertical borders</h2>

<p>Used when the standard styling doesn’t provide enough clarity for the content. Requires the use of the prominent styling on the table header.</p>

<div class="DocsExample-render clearfix"><table class="Table">
  <thead>
    <tr class="Table-row Table-row--parentHeader Table-row--verticalBorders Table-row--verticalBorders--header">
      <th>Parent header</th>
      <th>Parent header</th>
      <th class="Table-cell Table-cell--bold">
        Parent header
      </th>
    </tr>
  </thead>
  <thead>
    <tr class="Table-row Table-row--verticalBorders Table-row--verticalBorders--header">
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr class="Table-row Table-row--verticalBorders">
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr class="Table-row Table-row--prominent Table-row--verticalBorders Table-row--verticalBorders--white">
      <td class="Table-cell">Prominent table cell</td>
      <td class="Table-cell">Prominent table cell</td>
      <td class="Table-cell">Prominent table cell</td>
    </tr>
    <tr class="Table-row Table-row--verticalBorders">
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--parentHeader Table-row--verticalBorders Table-row--verticalBorders--header"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;th&gt;</span>Parent header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Parent header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">class=</span><span class="s">"Table-cell Table-cell--bold"</span><span class="nt">&gt;</span>
        Parent header
      <span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--verticalBorders Table-row--verticalBorders--header"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--verticalBorders"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--prominent Table-row--verticalBorders Table-row--verticalBorders--white"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Prominent table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Prominent table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Prominent table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--verticalBorders"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="individual-cells-with-vertical-borders">Individual cells with vertical borders</h2>

<p>Used for creating a divider between columns or to highlight column groups.</p>

<div class="DocsExample-render clearfix"><table class="Table">
  <thead>
    <tr>
      <th>Table header</th>
      <th class="Table-cell--verticalBorder--header--left">Left border</th>
      <th class="Table-cell--verticalBorder--header--right">Right border</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table cell</td>
      <td class="Table-cell--verticalBorder--left">Left border</td>
      <td class="Table-cell--verticalBorder--right">Right border</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <td>Table cell</td>
      <td class="Table-cell--verticalBorder--left">Left border</td>
      <td class="Table-cell--verticalBorder--right">Right border</td>
      <td>Table cell</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">class=</span><span class="s">"Table-cell--verticalBorder--header--left"</span><span class="nt">&gt;</span>Left border<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">class=</span><span class="s">"Table-cell--verticalBorder--header--right"</span><span class="nt">&gt;</span>Right border<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell--verticalBorder--left"</span><span class="nt">&gt;</span>Left border<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell--verticalBorder--right"</span><span class="nt">&gt;</span>Right border<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell--verticalBorder--left"</span><span class="nt">&gt;</span>Left border<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell--verticalBorder--right"</span><span class="nt">&gt;</span>Right border<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="rows-with-minor-content">Rows with minor content</h2>

<p>Used for rows (or cells) that contain minor/inessential data, or data that
otherwise exists as metadata for other data in the table.</p>

<div class="DocsExample-render clearfix"><table class="Table">
  <thead>
    <tr>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="Table-cell--minor">Minor table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr class="Table-row Table-row--minor">
      <td>Minor table row</td>
      <td>Minor table row</td>
      <td>Minor table row</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell--minor"</span><span class="nt">&gt;</span>Minor table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--minor"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td&gt;</span>Minor table row<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Minor table row<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Minor table row<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="parent-headers">Parent headers</h2>

<p>Used when regular table headers require grouping.</p>

<div class="DocsExample-render clearfix"><table class="Table">
  <thead>
    <tr class="Table-row Table-row--parentHeader">
      <th colspan="3">Parent table header</th>
    </tr>
    <tr>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Child cell</td>
      <td>Child cell</td>
      <td>Child cell</td>
    </tr>
    <tr>
      <td>Child cell</td>
      <td>Child cell</td>
      <td>Child cell</td>
    </tr>
    <tr>
      <td>Child cell</td>
      <td>Child cell</td>
      <td>Child cell</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--parentHeader"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;th</span> <span class="na">colspan=</span><span class="s">"3"</span><span class="nt">&gt;</span>Parent table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="parent-rows">Parent rows</h2>

<p>Used to demonstrate hierarchy within dense tables by grouping a number of child rows under a parent row.</p>

<div class="DocsExample-render clearfix"><table class="Table">
  <thead>
    <tr>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr class="Table-row Table-row--parent">
      <td>Parent cell</td>
      <td>Parent cell</td>
      <td>Parent cell</td>
    </tr>
    <tr>
      <td>Child cell</td>
      <td>Child cell</td>
      <td>Child cell</td>
    </tr>
    <tr>
      <td>Child cell</td>
      <td>Child cell</td>
      <td>Child cell</td>
    </tr>
    <tr class="Table-row Table-row--parent">
      <td>Parent cell</td>
      <td>Parent cell</td>
      <td>Parent cell</td>
    </tr>
    <tr>
      <td>Child cell</td>
      <td>Child cell</td>
      <td>Child cell</td>
    </tr>
    <tr>
      <td>Child cell</td>
      <td>Child cell</td>
      <td>Child cell</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--parent"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td&gt;</span>Parent cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Parent cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Parent cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--parent"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td&gt;</span>Parent cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Parent cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Parent cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Child cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="zebra-stripes">Zebra stripes</h2>

<p>Used for clarity in tables which may not be fully filled and therefore hard to scan.</p>

<div class="DocsExample-render clearfix"><table class="Table Table--zebraStripes">
  <thead>
    <tr>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table Table--zebraStripes"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>

<h2 id="desktop-variant">Desktop variant</h2>

<p>Applies the app’s legacy <code>font-family</code>, Helvetica Neue.</p>

<div class="DocsExample-render clearfix"><table class="Table Table--desktop">
  <thead>
    <tr>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr class="Table-row Table-row--bold">
      <td class="Table-cell">Bold table cell</td>
      <td class="Table-cell">Bold table cell</td>
      <td class="Table-cell">Bold table cell</td>
    </tr>
  </tbody>
</table></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;table</span> <span class="na">class=</span><span class="s">"Table Table--desktop"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;thead&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
      <span class="nt">&lt;th&gt;</span>Table header<span class="nt">&lt;/th&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/thead&gt;</span>
  <span class="nt">&lt;tbody&gt;</span>
    <span class="nt">&lt;tr&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td&gt;</span>Table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
    <span class="nt">&lt;tr</span> <span class="na">class=</span><span class="s">"Table-row Table-row--bold"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Bold table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Bold table cell<span class="nt">&lt;/td&gt;</span>
      <span class="nt">&lt;td</span> <span class="na">class=</span><span class="s">"Table-cell"</span><span class="nt">&gt;</span>Bold table cell<span class="nt">&lt;/td&gt;</span>
    <span class="nt">&lt;/tr&gt;</span>
  <span class="nt">&lt;/tbody&gt;</span>
<span class="nt">&lt;/table&gt;</span></code></pre></div>


    </div>
  </div>
</div>

    </div>

    <script src="/origin/assets/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
    </script>
  </body>
</html>
