<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="FreeAgent" />

    <title>
        NavBar &middot; Origin
    </title>

    <link rel="stylesheet" href="/origin/assets/css/origin.css" />
    <link href="/origin/favicon.ico" rel="shortcut" type="image/x-icon" />

    <!-- Typekit embed code for Effra and Swister -->
    <script src="https://use.typekit.net/hnj7chl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <header class="masthead">
      <div class="u-padding--large">
        <div class="Grid-row">
          <div class="Grid-col md-3">
            <a href="/origin/" class="masthead-logo">
              Origin
            </a>
          </div>
          <div class="Grid-col md-9">
            <nav class="masthead-nav">
              <a  href="/origin/guidance/principles">Docs</a>
              <a  href="/origin/about">About</a>
              <a  href="/origin/faq">FAQ</a>
              <a href="https://github.com/fac/origin" target="_blank">GitHub</a>
              <a href="https://github.com/fac/origin/blob/master/README.md#install" target="_blank">Install</a>
            </nav>
          </div>
        </div>
      </div>
    </header>

    

    <div class="Grid-row">

  <div class="Grid-col md-9 md-push-3">
    <h1 class="page-title">
      NavBar
    </h1>
    <div class="markdown-body">
      <p>The NavBar is the section in each of our apps which contains the main view
heading along with the primary (and often the secondary) navigation.</p>

<p><strong>Usage Note:</strong> Because of the difference between the nav bars in each of our projects,
the basic component is rarely used on its own. It should be combined with one
of the variants below.</p>

<h2 id="variants">Variants</h2>

<ul id="markdown-toc">
  <li><a href="#variants" id="markdown-toc-variants">Variants</a></li>
  <li><a href="#desktop" id="markdown-toc-desktop">Desktop</a></li>
</ul>

<h2 id="desktop">Desktop</h2>

<p>The desktop app variant adds desktop-specific padding to the top of the NavBar
and margins to the left and bottom of the title.</p>

<div class="DocsExample-render u-floatContainer"><nav class="NavBar NavBar--desktop" role="navigation">
  <h1 class="NavBar-title">
    <a class="NavBar-title-link" href="#"> <!-- optional -->
      NavBar Title
    </a>
  </h1>
</nav></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"NavBar NavBar--desktop"</span> <span class="na">role=</span><span class="s">"navigation"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"NavBar-title"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"NavBar-title-link"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span> <span class="c">&lt;!-- optional --&gt;</span>
      NavBar Title
    <span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;/nav&gt;</span></code></pre></div>


    </div>
  </div>
  <div class="Grid-col md-3 md-pull-9">
    <h4 class="menu-title">
  Guidance
</h4>
<nav class="menu docs-menu">
  
    
  
    
  
    
    <a class="menu-item" href="/origin/guidance/base-styles/">
      Base styles
    </a>
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/guidance/code-style/">
      Code style
    </a>
    
  
    
    <a class="menu-item" href="/origin/guidance/components/">
      Components
    </a>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/guidance/naming-conventions/">
      Naming conventions
    </a>
    
  
    
  
    
    <a class="menu-item" href="/origin/guidance/principles/">
      Principles
    </a>
    
  
    
  
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/guidance/utilities/">
      Utilities
    </a>
    
  
</nav>


<h4 class="menu-title">
  Components
</h4>
<nav class="menu docs-menu">
  
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/components/block-grid/">
      Block Grid
    </a>
    
  
    
    <a class="menu-item" href="/origin/components/button/">
      Button
    </a>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/components/grid/">
      Grid
    </a>
    
  
    
    <a class="menu-item" href="/origin/components/heading/">
      Heading
    </a>
    
  
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/components/navbar/">
      NavBar
    </a>
    
  
    
  
    
    <a class="menu-item" href="/origin/components/segmented-control/">
      Segmented Control
    </a>
    
  
    
  
    
    <a class="menu-item" href="/origin/components/table/">
      Table
    </a>
    
  
    
  
    
  
</nav>


<h4 class="menu-title">
  Utilities
</h4>
<nav class="menu docs-menu">
  
    
  
    
    <a class="menu-item" href="/origin/utilities/background-color/">
      background-color
    </a>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/utilities/font-family/">
      font-family
    </a>
    
  
    
    <a class="menu-item" href="/origin/utilities/font-size/">
      font-size
    </a>
    
  
    
    <a class="menu-item" href="/origin/utilities/font-weight/">
      font-weight
    </a>
    
  
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/utilities/line-height/">
      line-height
    </a>
    
  
    
  
    
  
    
  
    
  
    
    <a class="menu-item" href="/origin/utilities/spacing/">
      spacing
    </a>
    
  
    
  
    
    <a class="menu-item" href="/origin/utilities/text-color/">
      text-color
    </a>
    
  
    
  
</nav>

  </div>

</div>


    <script src="/origin/assets/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
    </script>
  </body>
</html>
