<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
        NavBar &middot; Origin
    </title>

    <link rel="stylesheet" href="/origin/assets/css/origin.css">

    <!-- Favicons -->
    <link rel="icon" href="/origin/favicon.ico">

    <!-- Typekit embed code for Effra and Swister -->
    <script src="https://use.typekit.net/hnj7chl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/origin/" class="masthead-logo">
          <span class="mega-octicon octicon-package"></span>
          Origin
        </a>

        <nav class="masthead-nav">
          <a  href="/origin/guidance/principles">Docs</a>
          <a  href="/origin/about">About</a>
          <a  href="/origin/faq">FAQ</a>
          <a href="https://github.com/fac/origin" target="_blank">GitHub</a>
          <a href="https://github.com/fac/origin/blob/master/README.md#install" target="_blank">Install</a>
        </nav>
      </div>
    </header>

    

    <div class="container">
      <div class="columns docs-layout">
  <div class="one-fourth column">
    
      <h4 class="menu-title">
  Guidance
</h4>
<nav class="menu docs-menu">
  <a class="menu-item " href="/origin/guidance/principles/">
    Principles
  </a>
  <a class="menu-item " href="/origin/guidance/code-style/">
    Code style
  </a>
  <a class="menu-item " href="/origin/guidance/naming-conventions/">
    Naming conventions
  </a>
  <a class="menu-item " href="/origin/guidance/base-styles/">
    Base styles
  </a>
  <a class="menu-item " href="/origin/guidance/utilities/">
    Utilities
  </a>
  <a class="menu-item " href="/origin/guidance/components/">
    Components
  </a>
</nav>

<h4 class="menu-title">
  Utilities
</h4>
<nav class="menu docs-menu">
  <span class="menu-item">
    border
  </span>
  <span class="menu-item">
    border-radius
  </span>
  <a class="menu-item " href="/origin/utilities/background-color/">
    background-color
  </a>
  <a class="menu-item " href="/origin/utilities/font-family/">
    font-family
  </a>
  <a class="menu-item " href="/origin/utilities/font-size/">
    font-size
  </a>
  <a class="menu-item " href="/origin/utilities/font-weight/">
    font-weight
  </a>
  <a class="menu-item " href="/origin/utilities/line-height/">
    line-height
  </a>
  <span class="menu-item">
    list-item
  </span>
  <a class="menu-item " href="/origin/utilities/spacing/">
    spacing
  </a>
  <a class="menu-item " href="/origin/utilities/text-color/">
    text-color
  </a>
</nav>

<h4 class="menu-title">
  Components
</h4>
<nav class="menu docs-menu">
  <a class="menu-item " href="/origin/components/button/">
    Button
  </a>
  <span class="menu-item">
    Card
  </span>
  <span class="menu-item">
    Checkbox
  </span>
  <a class="menu-item " href="/origin/components/heading/">
    Heading
  </a>
  <span class="menu-item">
    List
  </span>
  <a class="menu-item selected" href="/origin/components/navbar/">
    NavBar
  </a>
  <span class="menu-item">
    Notice
  </span>
  <span class="menu-item">
    RadioButton
  </span>
  <a class="menu-item " href="/origin/components/segmented-control/">
    Segmented Control
  </a>
  <a class="menu-item " href="/origin/components/table/">
    Table
  </a>
  <span class="menu-item">
    TableView
  </span>
  <span class="menu-item">
    Tabs
  </span>
  <span class="menu-item">
    TextArea
  </span>
  <span class="menu-item">
    TextInput
  </span>
</nav>

<h4 class="menu-title">
  Layout
</h4>
<nav class="menu docs-menu">
  <span class="menu-item">
    Grid
  </span>
</nav>

    
  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      NavBar
    </h1>
    <div class="markdown-body">
      <p>The NavBar is the section in each of our apps which contains the main view
heading along with the primary (and often the secondary) navigation.</p>

<p><strong>Usage Note:</strong> Because of the difference between the nav bars in each of our projects,
the basic component is rarely used on its own. It should be combined with one
of the variants below.</p>

<h2 id="variants">Variants</h2>

<ul id="markdown-toc">
  <li><a href="#variants" id="markdown-toc-variants">Variants</a></li>
  <li><a href="#desktop" id="markdown-toc-desktop">Desktop</a></li>
</ul>

<h2 id="desktop">Desktop</h2>

<p>The desktop app variant adds desktop-specific padding to the top of the NavBar
and margins to the left and bottom of the title.</p>

<div class="DocsExample-render clearfix"><nav class="NavBar NavBar--desktop" role="navigation">
  <h1 class="NavBar-title">
    <a class="NavBar-title-link" href="#"> <!-- optional -->
      NavBar Title
    </a>
  </h1>
</nav></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"NavBar NavBar--desktop"</span> <span class="na">role=</span><span class="s">"navigation"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"NavBar-title"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"NavBar-title-link"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span> <span class="c">&lt;!-- optional --&gt;</span>
      NavBar Title
    <span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;/nav&gt;</span></code></pre></div>


    </div>
  </div>
</div>

    </div>

    <script src="/origin/assets/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
    </script>
  </body>
</html>
