/**
 * ViewItems
 *
 * ViewItems, like TableViews, are used to display rows of data. But ViewItems act as containers of TableViews,
 * framing content such that it's very obviously a child of a view; a result of that views interactions or controls
 *
 * Example ViewItems: invoice line items
 */

 $non-interactive-background-color: $color--gray-16;


/**
 * ViewItems base styles
 */


.Card {
  background-color: #fff;
  @include box-shadow(0, 1px, 2px, rgba(0,0,0,0.25));
  @include border-radius(default);
}

/**
 * Cards that aren't interactive get a different visual treatment
 */

.Card--notInteractive {
  background-color: $non-interactive-background-color;
}

/**
 * Cards can be grouped together as siblings. This class should be included
 * on the first of the sibling elements.
 */

.Card--sibling--first {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/**
 * Cards can be grouped together as siblings. This class should be included
 * on the class of the sibling elements.
 */

.Card--sibling--last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

/**
 * The parent of a sibling sits above it's siblings and has amended shadow which
 * better suits the stacked cards
 */

.Card--sibling--parent {
  position: relative;
  @include box-shadow(0, 1px, 2px, rgba(0,0,0,0.18));
}
/**
 *
 */

.Card-body {
  @include padding(default);
}

.Card-body *:last-child {
margin-bottom: 0;
}

/**
 * Header area for a ViewItem
 */

.Card-header {
  @include padding(default);
  @include background-color(fa-blue);
  @include border-radius-top-left(small);
  @include border-radius-top-right(small);
  display: table;
  width: 100%;
}

/**
 * Force ViewItem headers to contain their floated children
 */

.Card-header:after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Base styles for titles within Cards
 */

.Card-header-title {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  @include font-size(large);
  @include Heading(white, editorial, large, default, normal);
}

/**
 * Float actions within Card headers to the right by default
 */

.Card-header-action {
  display: block;
  float: right;
  position: relative;
}

/**
*
*/
.Card-media {
  margin: 0;
}

.Card-media-item {
  display: block;
  height: auto;
  width: 100%;
}

/**
 * Force monetary totals cells to contain their floating children
 */

.Card-totals:before,
.Card-totals:after {
  content: " ";
  display: table;
}
.Card-totals:after {
  clear: both;
}

/**
 * Modify the size of titles when used to display monetary master totals
 */

.Card-totals--masterTotals .TableView-cell-title {
  @include font-size(x-large);
}

/**
 * Add space between subtotals and ensure they render as block level elements on their own lines
 */

.Card--subtotals-total {
  display: block;
  @include margin-bottom(small);
}

/**
 * Add space between subtotals and master totals in a ViewItem
 */

.Card-totals--masterTotals {
  @include margin-top(default);
}

/**
 * Modify size of subtitle when used to display a monetary master total
 */

.Card-totals--masterTotals .TableView-cell-title--subtitle {
  @include font-size(default);
}
