/* Form
   ==========================================================================
   Form components are the building blocks of forms in the app.
*/

/**
 * Global Label Width Value
 *
 * Our standard form style has fixed width field labels floated to the left of
 * the field inputs. We use a variable to set the width of the labels so that
 * should we need to change the value, we only need to update it in one place.
 */

$form-label-width: 16rem;


/**
 * Base styles for the Form
 */

.Form {
  @include floatContainer();
  @include font-weight(default);
  @include line-height(default);
  @include text-color(gray-5);
  border: none;
  display: block;
  text-align: left;
}

.Form-fieldset {
  @include margin-bottom(default);
  border: none;
  display: block;
  padding: 0;
}

/**
 * Block variant of `Form-fieldset`
 */

.Form-fieldset--block {
  @include background-color(gray-16);
  @include border-radius(large);
  @include margin-bottom(default);
  @include padding(default);
  border: none;
}

.Form-fieldset-legend {
  @include font-size(large);
  @include font-weight(bold);
  @include margin-bottom(default);
  @include text-color(gray-5);
  display: block;
}

/**
 * A `Form-field` is used to wrap any set of label + input(s) + field note
 *
 * 1. Form fields often contain floated elements, so they are float containers
      by default
 * 2. Add some vertical space between fields
 * 3. Ignore padding and borders when calculating height and width
 * 4. A form field is always a block element, as it may contain a mixture of
      other inline and block elements

      NB: Do not use `<p>` or `<span>` for a form field as these elements may
      never conatin block elements.
 */

.Form-field {
  @include floatContainer();
  @include margin-bottom(default);
  clear: both;
  display: block;
}

/**
 * A `Form-field-label` is the label for a whole field
 *
 * 1. Form fields often contain floated elements, so they are float containers
      by default
 * 2. Add some vertical space between fields
 * 3. Ignore padding and borders when calculating height and width
 */

.Form-field-label {
  @include padding-top(x-small);
  float: left;
  text-align: right;
  width: $form-label-width;
}

.Form-fieldset--block .Form-field-label {
  width: calc(#{$form-label-width} - #{$spacing--default});
}

.Form-field--isRequired .Form-field-label:after {
  @include text-color(fa-red);
  @include font-weight(bold);
  content: " *";
  display: inline;
}

.Form-field--isOptional .Form-field-label:after {
  @include text-color(gray-8);
  content: " (optional)";
  display: inline;
}

.Form-inlineLabel {
  display: inline;
  max-width: 45rem;
}

.Form-checkbox + .Form-inlineLabel,
.Form-radioInput + .Form-inlineLabel {
  @include margin-left(x-small);
}

.Form-field-inputs {
  @include padding-left(small);
  float: left;
}

.Form-field-inputs:first-child {
  margin-left: $form-label-width;
}

.Form-fieldset--block .Form-field-inputs:first-child {
  margin-left: calc(#{$form-label-width} - #{$spacing--default});
}

.Form-textInput {
  @include border-radius(small);
  @include font-family(default);
  @include line-height(tight);
  @include padding-bottom(x-small);
  @include padding-left(small);
  @include padding-right(small);
  @include padding-top(x-small);
  @include text-color(gray-5);
  border-bottom-color: $color--gray-13;
  border-color: $color--gray-12;
  border-style: solid;
  border-top-color: $color--gray-11;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
  width: 20rem;
}

.Form-textInput:focus {
  @include border(default, fa-blue, !important);
}

.Form-textInput--small {
  width: 10rem;
}

.Form-textInput--x-small {
  width: 5rem;
}

.Form-checkbox,
.Form-radioInput {
  @include margin-top(small);
}

/**
 * Select Dropdown
 */

.Form-selectInput {
  @include font-family(default);
  @include font-size(default);
  vertical-align: sub;
  max-width: 45rem;
}

/**
 * Diabled textInput
 */

.Form-textInput[disabled] {
  @include background-color(gray-14, !important);
  @include text-color(gray-7, !important);
  border-color: $color--gray-12 !important;
  box-shadow: none;
}

/**
 * Diabled checkbox & radioInput
 */

.Form-checkbox[disabled],
.Form-radioInput[disabled] {
  opacity: 0.75 !important;
}

/**
 * Labels for diabled checkboxes & radioInputs
 */

.Form-checkbox[disabled] + .Form-inlineLabel,
.Form-radioInput[disabled] + .Form-inlineLabel {
  @include text-color(gray-10, !important);
}

.Form-inlineInput {
  @include margin-left(default);
  display: inline;
}

.Form-inputNote {
  @include font-size(small);
  @include margin-top(xx-small);
  @include text-color(gray-8);
  display: block;
  max-width: 45rem;
}

.Form-actions {
  @include padding-left(small);
  margin-left: $form-label-width;
}

.Form-cancel {
  @include margin-left(default);
}


/**
 * Errors
   ==========================================================================
   Highlight a form field with errors by adding the `.Form-field--hasErrors`
   class to `.Form-field`.
   */

/**
 * Highlight field labels when there is an error with the field
 */

.Form-field--hasErrors .Form-field-label {
  @include text-color(negative);
}

/**
 * Highlight text inputs when there is an error with the field
 */

.Form-field--hasErrors .Form-textInput {
  @include background-color(fa-red--x-light);
  @include border(default, fa-red);
}

.Form-field-error {
  @include background-color(fa-red--xx-light);
  @include border-radius(small);
  @include border(default, fa-red);
  @include margin-top(x-small);
  @include padding-bottom(x-small);
  @include padding-left(small);
  @include padding-right(small);
  @include padding-top(xx-small);
  @include text-color(negative);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}


/* Vertically Stacked Variant
   ==========================================================================
   A variant of the form with the labels stacked on top of the inputs
   */

.Form--stacked .Form-field-label {
  @include margin-bottom(x-small);
  display: block;
  float: none;
  text-align: left;
  width: auto;
}

.Form--stacked .Form-field-inputs {
  float: none;
  padding-left: 0;
}

.Form--stacked .Form-field-inputs:first-child {
  margin-left: 0;
}

.Form--stacked .Form-inlineLabel:only-of-type {
  @include font-weight(semi-bold);
}

.Form--stacked .Form-actions {
  margin-left: 0;
  padding-left: 0;
}


/* Legacy Variant
   ==========================================================================
   A variant that uses the legacy desktop font
   */

.Form--legacy,
.Form--legacy .Form-textInput {
  @include font-family(legacy);
  @include font-size(small);
}

.Form--legacy .Form-checkbox,
.Form--legacy .Form-radioInput {
  @include margin-top(x-small);
}
