/* Heading component
   ==========================================================================
   The Heading component provides a scale of headings that can be applied to
   any element, creating consistency and avoiding inheritance issues that come
   with targeting bare HTML elements.
*/


/* Mixin
  ========================================================================== */

/**
 * See http://fac.github.io/origin/components/heading/ for example usage
 */

/**
 * Values for `$Heading-color`, `$Heading-font`, and `$Heading-weight` are all
 * defined locally in _heading-settings.scss.
 *
 * `$Heading-size` and `$Heading-spacing` are defined here because they are
 * global and should not be modified.
 */

$Heading-size: default;
$Heading-spacing: 0;

@mixin Heading(
  $color: $Heading-color,
  $font: $Heading-font,
  $size: $Heading-size,
  $spacing: $Heading-spacing,
  $weight: $Heading-weight,
  $important: null
  ) {
  color: map-get($text-color-values, $Heading-color) $important;
  font-family: map-get($font-family-values, $Heading-font) $important;
  font-size: map-get($font-size-values, $Heading-size) $important;
  font-weight: map-get($font-weight-values, $Heading-weight) $important;
  @include line-height(x-tight);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: map-get($spacing-values, $Heading-spacing) $important;
}


/* Sizes
  ========================================================================== */

/**
 * Apply the Heading mixin to all heading instances
 */

.Heading,
.l-editorial h1,
.l-editorial h2,
.l-editorial h3,
.l-editorial h4,
.l-editorial h5,
.l-editorial h6 {
  @include Heading;
}

.Heading--xx-large,
.l-editorial h1 {
  @include font-size(12);
}

.Heading--x-large,
.l-editorial h2 {
  @include font-size(10);
}

.Heading--large,
.l-editorial h3 {
  @include font-size(8);
}

.Heading--default,
.l-editorial h4 {
  @include font-size(7);
}

.Heading--small,
.l-editorial h5 {
  @include font-size(6);
}

.Heading--x-small,
.l-editorial h6 {
  @include font-size(5);
}


/* Colors
  ========================================================================== */

.Heading--color--dark {
  @include text-color(dark);
}

.Heading--color--default {
  @include text-color(default);
}

.Heading--color--light {
  @include text-color(light);
}

.Heading--color--x-light {
  @include text-color(x-light);
}

.Heading--color--xx-light {
  @include text-color(xx-light);
}

.Heading--color--negative {
  @include text-color(negative);
}

.Heading--color--positive {
  @include text-color(positive);
}

.Heading--color--warning {
  @include text-color(warning);
}


/* Fonts
  ========================================================================== */

.Heading--font--default {
  @include font-family(default);
}

.Heading--font--editorial {
  @include font-family(editorial);
  @include font-weight(normal);
}

.Heading--font--legacy {
  @include font-family(legacy);
}


/* Spacing
  ========================================================================== */

/**
 * These values deliberately avoid using our standard `margin` utility mixin
 * because it serves `rem`s, but here we want the margins to adapt based on the
 * size of the headings.
 */

.Heading--space--xx-small {
  margin-bottom: .15em;
}

.Heading--space--x-small {
  margin-bottom: .25em;
}

.Heading--space--small {
  margin-bottom: .35em;
}

.Heading--space--default {
  margin-bottom: .5em;
}

.Heading--space--large {
  margin-bottom: .75em;
}


/* Underlines
  ========================================================================== */

.Heading--underlined {
  @include border-bottom(default, gray-12);
}

.Heading--underlined--dark {
  @include border-bottom(default, gray-8)
}

.Heading--underlined--light {
  @include border-bottom(default, gray-14);
}


/* Weights
  ========================================================================== */

.Heading--weight--thin {
  @include font-weight(thin);
}

.Heading--weight--x-light {
  @include font-weight(x-light);
}

.Heading--weight--light {
  @include font-weight(light);
}

.Heading--weight--normal {
  @include font-weight(normal);
}

.Heading--weight--medium {
  @include font-weight(medium);
}

.Heading--weight--semi-bold {
  @include font-weight(semi-bold);
}

.Heading--weight--bold {
  @include font-weight(bold);
}


/* Editorial modifications
  ========================================================================== */

.l-editorial h1,
.l-editorial h2,
.l-editorial h3,
.l-editorial h4,
.l-editorial h5,
.l-editorial h6 {
  margin-bottom: .25em;
}

.l-editorial h2 {
  margin-top: 1em;
}

.l-editorial h3 {
  margin-top: 1em;
}

.l-editorial h4 {
  margin-top: .5em;
}

.l-editorial h5 {
  margin-top: .5em;
}

.l-editorial h6 {
  margin-top: .5em;
}
