/* Table
   ==========================================================================
   The Table component is used to represent tabular data. Different modifiers
   exist to tailor tables in specific scenarios, e.g. adding vertical borders
   to cells in order to aid scanning in very data-heavy tables, or adding zebra
   stripes to aid scanning in tables where cells are far apart.

   Guidance on writing HTML & CSS at FreeAgent:
   https://github.com/fac/origin/wiki#writing-html--css-at-freeagent
*/


/* Local variables
   ==========================================================================
   FIXME: we shouldn't typically be directly referencing utility variables, but
   this branch of work precedes a set of border mixins being available for us to
   use in production.
*/

$Table-border-color: $color--gray-15;


/* `Table`
   ==========================================================================
   FIXME: In time this `Table` component will probably have to include specific
   variants, as it was initially created as a result of refactoring our reporting
   tables: https://github.com/fac/freeagent/pull/5790. But until that time, let's
   go global and scope things from there :)
*/

/**
 * 1. Collapse borders so only a single border appears for adjacent cells.
 * 2. Ensure there's no spacing between cells. We use `padding` inside cells.
 * 3. Our typical pattern is to only add margins to the bottom of elements, rather
 *    than top and bottom, to prevent excessive vertical spacing.
 * 4. Tables should give their content as much room as possible by default.
 */

.Table {
  @include font-weight(default);
  @include line-height(4);
  @include text-color(gray-5);
  /* 1 */
  border-collapse: collapse;
  /* 2 */
  border-spacing: 0;
  /* 3 */
  margin: 0 0 1em;
  padding: 0;
  text-align: left;
  /* 4 */
  width: 100%;
}

/**
 * Base rules for table cells and headers. While we wouldn't normally directly
 * HTML elements (because doing so often results in unwanted inheritence issues),
 * in this case it makes more practical sense to do so; applying a class to every
 * table cell and header throughout the codebase would be extremely labourious.
 *
 * 1. Because we typically always want values in a row to align with each other,
 *    unless otherwise stated.
 */

.Table td,
.Table th {
  margin: 0;
  padding: .5em;
  /* 1 */
  vertical-align: middle;
}

/**
 * Base rules for table cells.
 */

.Table td {
  border-top: 1px solid $Table-border-color;
}

/**
 * Remove the `border-top` from all table cells in the first row in a <tbody>,
 * which prevents a fuzzy edge from appearing, as the <thead> preceding it is
 * coloured light blue.
 */

.Table tbody tr:first-child td {
  border-top: 0;
}

/**
 * Remove the `border-top` from all table cells in a row when the cells in the
 * previous row are given a background using the `Table-row--prominent` class.
 *
 * This prevents a fuzzy edge appearing when the darker cell background touches
 * the lighter cell border stroke.
 */

.Table-row--prominent + tr td {
  border-top: 0;
}

/**
 * Base rules for table header cells.
 */

.Table th {
  @include background-color(fa-blue--x-light);
  @include font-weight(semi-bold);
  @include text-color(fa-blue--x-dark);
}

/* Highlighting variants
   ==========================================================================
   Prominent, bold, parent, separated, and minor variants
*/

/**
 * Apply to `<th>` elements when they should appear as table headers.
 *
 * 1. Create horizontal separation when multiple `Table-header` elements are
 *    stacked on top of each other.
 */

.Table-header--prominent {
  @include background-color(gray-16);
  /* 1 */
  border-top: 1px solid #fff;
}

/**
 * Style a parent table header row so that it appears more subdued than a regular
 * table header.
 *
 * 1. This header is designed to group together the cell columns of the row
 *    underneath it, so we centre align the text as the best way of doing so.
 */

.Table .Table-row--parentHeader th {
  @include background-color(fa-blue--xx-light);
  @include font-weight(normal);
  color: desaturate(lighten($color--fa-blue, 22), 55);
  /* 1 */
  text-align: center;
}

/**
 * Make the text contents of a cell or row bold.
 */

.Table-cell--bold,
.Table-row--bold {
  @include font-weight(semi-bold, !important);
}

/**
 * Style a table row in a particular way when it's a parent; when it has
 * collapsable child row belows it, as in the P&L tables.
 */

.Table-row--parent {
  @include font-weight(semi-bold);
  background-color: #e0edf4;
  color: #174f73;
}

/**
 * Override the default table cell border colours so the separation between
 * cells inside adjacent `Table-row--parent` elements is clearer when collapsed.
 */

.Table-row--parent td {
  border-bottom: 1px solid #fff !important;
  border-top: 1px solid #fff !important;
}

/**
 * Make certain table rows more prominent. Useful for total rows where summed
 * values appear, or where there are yearly or monthly table header groupings.
 *
 * We're targeting the table cells rather than the whole row because sometimes
 * we only want to colour particular cells.
 *
 * 1. Remove border so there's a clean separation between this cell and the cell
 *    above it. Leaving the border in creates a fuzzy effect because the default
 *    table cell border is lighter than the background of this element.
 */

.Table-row--prominent .Table-cell,
.Table-row--prominent .Table-header {
  @include background-color(gray-14);
  @include text-color(gray-4);
  border-top: 0;
}

/**
 * Add white separating borders between cells and headers when required.
 */

.Table-cell--separated,
.Table-header--separated {
  border-color: #fff;
  border-style: solid;
  border-width: 0 1px;
}

/**
 * Reduce the prominence of metadata displayed inside tables.
 */

.Table .Table-cell--minor,
.Table-row--minor,
.Table-header--minor {
  @include text-color(gray-9);
}

/* Text-alignment variants
   ==========================================================================
   Center, left, and right variants
*/

/**
 * Explicitly center text in table cells or headers, either by
 * applying a class to a table row or the cell/header itself.
 *
 * Syntax follows the convention set forth in our text formatting utilities:
 * https://github.com/fac/origin/blob/master/assets/scss/global/utilities/utilities/_text-formatting.scss
 */

.Table--text-align--center td,
.Table--text-align--center th,
.Table .Table-cell--text-align--center,
.Table .Table-row--text-align--center td,
.Table .Table-row--text-align--center th {
  text-align: center;
}

/**
 * Explicitly align text to the left in table cells or headers, either by
 * applying a class to a table row or the cell/header itself.
 *
 * Syntax follows the convention set forth in our text formatting utilities:
 * https://github.com/fac/origin/blob/master/assets/scss/global/utilities/utilities/_text-formatting.scss
 */

.Table--text-align--left td,
.Table--text-align--left th,
.Table .Table-cell--text-align--left,
.Table .Table-row--text-align--left td,
.Table .Table-row--text-align--left th {
  text-align: left;
}

/**
 * Explicitly align text to the right in table cells or headers, either by
 * applying a class to a table row or the cell/header itself.
 *
 * Syntax follows the convention set forth in our text formatting utilities:
 * https://github.com/fac/origin/blob/master/assets/scss/global/utilities/utilities/_text-formatting.scss
 */

.Table--text-align--right td,
.Table--text-align--right th,
.Table .Table-cell--text-align--right,
.Table .Table-row--text-align--right td,
.Table .Table-row--text-align--right th {
  text-align: right;
}

/* Interaction
   ==========================================================================
   To be expanded
*/

/**
 * Element used to toggle expand/collapse behaviour of a table row. Note that
 * the `Table-cell` parent of this element requires a class of `category` in
 * order to trigger the correct JS. This could be refactored in future to align
 * better with our naming conventions (e.g. `Table-cell--toggle`), but doing so
 * was out of scope during this piece of refactor work:
 * https://github.com/fac/freeagent/pull/5790
 */

.Table-cell-toggle {
  display: inline-block;
}

/**
 * Ensure suspense amounts are coloured appropriately. In due course this should
 * reference a colour from our utilities library, e.g.:
 *
 * `@include text-color(red);`
 */

.Table .suspense a {
  color: #ca131d;
}


/* `Table--verticalBorders` variant
   ==========================================================================
   Give table cells or headers vertical borders to aid scanning in tables
   containing dense data sets.
*/

.Table--verticalBorders td,
.Table--verticalBorders th,
.Table-row--verticalBorders td,
.Table-row--verticalBorders th,
.Table-cell--verticalBorders {
  border-left: 1px solid $Table-border-color;
  border-right: 1px solid $Table-border-color;
}

/**
 * Add a left-hand border to an individual table cell.
 */

.Table .Table-cell--verticalBorder--left {
  border-left: 1px solid $color--gray-13;
}

.Table .Table-cell--verticalBorder--header--left {
  border-left: 1px solid desaturate(lighten($color--fa-blue, 45), 50);
}

/**
 * Add a right-hand border to an individual table cell.
 */

.Table .Table-cell--verticalBorder--right {
  border-right: 1px solid $color--gray-13;
}

.Table .Table-cell--verticalBorder--header--right {
  border-right: 1px solid desaturate(lighten($color--fa-blue, 45), 50);
}

/**
 * Remove left-hand border from first cell in a cell or header.
 */

.Table--verticalBorders tr td:first-child,
.Table--verticalBorders tr th:first-child,
.Table-row--verticalBorders td:first-child,
.Table-row--verticalBorders th:first-child {
  border-left: 0;
}

/**
 * Remove right-hand border from last cell in a cell or header.
 */

.Table--verticalBorders tr td:last-child,
.Table--verticalBorders tr th:last-child,
.Table-row--verticalBorders td:last-child,
.Table-row--verticalBorders th:last-child {
  border-right: 0;
}

/**
 * Make table cell and header borders white, e.g. when the table row has a class
 * of `Table-row--prominent`.
 */

.Table--verticalBorders--white td,
.Table--verticalBorders--white th,
.Table-row--verticalBorders--white td,
.Table-row--verticalBorders--white th,
.Table-cell--verticalBorders--white {
  border-color: #fff;
}

/**
 * Add a white left-hand border to an individual table cell.
 */

.Table-cell--verticalBorder--white--left {
  border-left: 1px solid #fff;
}

/**
 * Add a white right-hand border to an individual table cell.
 */

.Table-cell--verticalBorder--white--right {
  border-right: 1px solid #fff;
}

/**
 * Give table cells inside <thead> vertical borders.
 */

.Table--verticalBorders--header td,
.Table--verticalBorders--header th,
.Table-row--verticalBorders--header td,
.Table-row--verticalBorders--header th,
.Table-cell--verticalBorders--header {
  border-color: desaturate(lighten($color--fa-blue, 45), 50);
}

/* `Table--zebraStripes` variant
   ==========================================================================
   Note that when applied to a whole table, zebra stripes are scoped only to
   rows within `<tbody>`, encouraging solid structuring of our tables :)
*/

.Table--zebraStripes tbody tr:nth-child(even),
.Table-row--zebraStripes:nth-child(even) {
  background-color: rgba(200, 200, 200, .14);
}

/**
 * Tables with zebra stripes don't need borders; the borders just add more
 * visual noise and don't improve scannability.
 */

.Table--zebraStripes td,
.Table-row--zebraStripes td {
  border: 0;
}


/* `Table-cell--reportCategory` variant
   ==========================================================================
   Content-specific variant of a `Table-cell` where its used to represent
   reporting categories in the P&L tables within Accounting > Reports.
*/

.Table-cell--reportCategory {
  text-align: left !important;
  width: 18em;
}

/* Desktop variant
   ==========================================================================
   Controls font-family and padding to more closely match legacy styles.
   This will be rendered obsolete once Helvetica is no longer used in the app.
*/

.Table--desktop {
  @include font-family(legacy);
}

/**
 * Override the default table cell padding for desktop
 */

.Table--desktop td,
.Table--desktop th {
  padding: .75em;
}

.Table--desktop th {
  @include font-weight(bold);
}

/**
 * Override Source Sans Pro semi-bold with bold, as the Helvetica Neue system
 * font doesn't come in a semi-bold weight.
 */

.Table--desktop .Table-cell--bold,
.Table--desktop .Table-row--bold {
  @include font-weight(bold);
}

.Table--desktop .Table-row--parent {
  @include font-weight(bold);
}
