/* Mixin
========================================================================== */

/**
 * See http://fac.github.io/origin/components/heading/ for example usage
 */

/**
 * Values for `$Heading-color`, `$Heading-font`, and `$Heading-weight` are all
 * defined locally in _heading-settings.scss.
 *
 * `$Heading-size` and `$Heading-spacing` are defined here because they are
 * global and should not be modified.
 */

$Heading-size: default;
$Heading-spacing: 0;

@mixin Heading(
  $color: $Heading-color,
  $font: $Heading-font,
  $size: $Heading-size,
  $spacing: $Heading-spacing,
  $weight: $Heading-weight,
  $important: null
  ) {
  color: map-get($text-color-values, $color) $important;
  font-family: map-get($font-family-values, $font) $important;
  font-size: map-get($font-size-values, $size) $important;
  font-weight: map-get($font-weight-values, $weight) $important;
  @include line-height(x-tight);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: map-get($spacing-values, $spacing) $important;
}
