<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
        Components &middot; Origin
    </title>

    <link rel="stylesheet" href="/origin/assets/css/origin.css">

    <!-- Favicons -->
    <link rel="icon" href="/origin/favicon.ico">

    <!-- Typekit embed code for Effra and Swister -->
    <script src="https://use.typekit.net/hnj7chl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/origin/" class="masthead-logo">
          <span class="mega-octicon octicon-package"></span>
          Origin
        </a>

        <nav class="masthead-nav">
          <a  href="/origin/guidance/principles">Docs</a>
          <a  href="/origin/about">About</a>
          <a  href="/origin/faq">FAQ</a>
          <a href="https://github.com/fac/origin" target="_blank">GitHub</a>
          <a href="https://github.com/fac/origin/blob/master/README.md#install" target="_blank">Install</a>
        </nav>
      </div>
    </header>

    

    <div class="container">
      <div class="columns docs-layout">
  <div class="one-fourth column">
    
      <h4 class="menu-title">
  Guidance
</h4>
<nav class="menu docs-menu">
  <a class="menu-item " href="/origin/guidance/principles/">
    Principles
  </a>
  <a class="menu-item " href="/origin/guidance/code-style/">
    Code style
  </a>
  <a class="menu-item " href="/origin/guidance/naming-conventions/">
    Naming conventions
  </a>
  <a class="menu-item " href="/origin/guidance/base-styles/">
    Base styles
  </a>
  <a class="menu-item " href="/origin/guidance/utilities/">
    Utilities
  </a>
  <a class="menu-item selected" href="/origin/guidance/components/">
    Components
  </a>
</nav>

<h4 class="menu-title">
  Utilities
</h4>
<nav class="menu docs-menu">
  <span class="menu-item">
    border
  </span>
  <span class="menu-item">
    border-radius
  </span>
  <a class="menu-item " href="/origin/utilities/background-color/">
    background-color
  </a>
  <a class="menu-item " href="/origin/utilities/font-family/">
    font-family
  </a>
  <a class="menu-item " href="/origin/utilities/font-size/">
    font-size
  </a>
  <a class="menu-item " href="/origin/utilities/font-weight/">
    font-weight
  </a>
  <a class="menu-item " href="/origin/utilities/line-height/">
    line-height
  </a>
  <span class="menu-item">
    list-item
  </span>
  <a class="menu-item " href="/origin/utilities/spacing/">
    spacing
  </a>
  <a class="menu-item " href="/origin/utilities/text-color/">
    text-color
  </a>
  <span class="menu-item">
    z-index
  </span>
</nav>

<h4 class="menu-title">
  Components
</h4>
<nav class="menu docs-menu">
  <a class="menu-item " href="/origin/components/button/">
    Button
  </a>
  <span class="menu-item">
    Card
  </span>
  <span class="menu-item">
    Checkbox
  </span>
  <a class="menu-item " href="/origin/components/heading/">
    Heading
  </a>
  <span class="menu-item">
    List
  </span>
  <a class="menu-item " href="/origin/components/navbar/">
    NavBar
  </a>
  <span class="menu-item">
    Notice
  </span>
  <span class="menu-item">
    RadioButton
  </span>
  <a class="menu-item " href="/origin/components/segmented-control/">
    Segmented Control
  </a>
  <a class="menu-item " href="/origin/components/table/">
    Table
  </a>
  <span class="menu-item">
    TableView
  </span>
  <span class="menu-item">
    Tabs
  </span>
  <span class="menu-item">
    TextArea
  </span>
  <span class="menu-item">
    TextInput
  </span>
</nav>

<h4 class="menu-title">
  Layout
</h4>
<nav class="menu docs-menu">
  <span class="menu-item">
    Grid
  </span>
</nav>

    
  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      Components
    </h1>
    <div class="markdown-body">
      <p>Components are self-contained collections of HTML, CSS, and often JS, that perform a specific function. Buttons, dialogs, tables, navbars, and dropdown menus are all examples of components.</p>

<p>Each component should have a dedicated CSS file, and live in a distinct <code>/components</code> directory.</p>

<p>Each component should implement a single part of the UI. Don’t try to do
too much. In addition to core styles, components often have variants; modified states for specific contexts.</p>

<p>Most components should not set their own width, margin, and positioning. By authoring a component to be full-width or inline, it can better adapt to the dimensions of an ancestral context.</p>

<h2 id="component-scope">Component scope</h2>

<p>The component’s core class name (e.g., <code>ComponentName</code>) reserves a namespace
that can only be used by that component.</p>

<p>All selectors in a component file must start with the component’s
namespace. For example, a component called <code>MyComponent</code> could have the
following CSS, where every selector starts with the string <code>MyComponent</code>.</p>

<div class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="nc">.MyComponent</span> <span class="p">{}</span>
<span class="nc">.MyComponent--large</span> <span class="p">{}</span>
<span class="nc">.MyComponent-title</span> <span class="p">{}</span>
<span class="nc">.MyComponent-image</span> <span class="p">{}</span>
<span class="nc">.MyComponent-text</span> <span class="p">{}</span>
<span class="nc">.MyComponent-time</span> <span class="p">{}</span></code></pre></div>

<p>Each class provides a hook to style specific elements within the HTML definition.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;article</span> <span class="na">class=</span><span class="s">"MyComponent"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"MyComponent-title"</span><span class="nt">&gt;&lt;/h1&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"MyComponent-image"</span> <span class="na">src=</span><span class="s">""</span> <span class="na">alt=</span><span class="s">""</span><span class="nt">&gt;</span>
  <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"MyComponent-text"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"MyComponent-time"</span><span class="nt">&gt;&lt;/span&gt;</span>
  <span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="documenting-implementation-details">Documenting implementation details</h2>

<p>Components must document their implementation. The CSS comments for a component
should seek to answer the following questions:</p>

<ul>
  <li>What is the intended presentation?</li>
  <li>What are the modifiers and states?</li>
  <li>What are the reasons for specific, opaque property values.</li>
  <li>What are the known limitations?</li>
</ul>

<p><a href="/origin/guidance/code-style/#css-comments">How to write your CSS comments</a></p>

<h2 id="naming-components">Naming components</h2>
<p>Syntax:</p>

<div class="highlight"><pre><code class="language-bash" data-lang="bash">&lt;ComponentName&gt;[--modifierName|-descendentName]</code></pre></div>

<p>Component names should be in upper camel case. In addition to no other elements of our HTML &amp; CSS using upper camel case, there are several benefits:</p>

<ul>
  <li>It helps to distinguish between the classes for the root of the component, descendent elements, and modifications</li>
  <li>It keeps the specificity of selectors low</li>
  <li>It helps to decouple presentation semantics from document semantics</li>
</ul>

<h4 id="componentname">ComponentName</h4>

<div class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="nc">.MyComponent</span>
<span class="nc">.TableView</span>
<span class="nc">.DropdownMenu</span>
<span class="nc">.Button</span>
<span class="nc">.Card</span></code></pre></div>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"MyComponent"</span><span class="nt">&gt;</span>
  …
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h4 id="componentname--modifiername">ComponentName–modifierName</h4>

<p>A component modifier is a class that modifies the presentation of the base component in some form (for a certain configuration of the component)</p>

<ul>
  <li>Write modifier names in lower camel case</li>
  <li>Separate modifiers from the component name by two hyphens</li>
  <li>Include modifiers <em>in addition</em> to the base component class</li>
</ul>

<div class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="cm">/* Core `SegmentedControl` styles */</span>

<span class="nc">.SegmentedControl</span> <span class="p">{}</span>

<span class="cm">/* High-contrast `SegementedControl` styles */</span>

<span class="nc">.SegmentedControl--contrastHigh</span> <span class="p">{}</span></code></pre></div>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"SegmentedControl SegmentedControl--contrastHigh"</span><span class="nt">&gt;</span>…<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h4 id="componentname-descendentname">ComponentName-descendentName</h4>

<p>A component descendent is a class that is attached to a descendent (child) node of a component. It’s responsible for applying presentation directly to the descendent on behalf of a particular component. Write descendent names in lower camel case.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ol</span> <span class="na">class=</span><span class="s">"TableView"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"TableView-cell"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"TableView-cell-title"</span><span class="nt">&gt;</span>…<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"TableView-cell-label"</span><span class="nt">&gt;</span>…<span class="nt">&lt;/h4&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ol&gt;</span></code></pre></div>

<h4 id="componentnameis-stateofcomponent">ComponentName.is-stateOfComponent</h4>

<p>Use <code>is-stateName</code> to reflect changes to a component’s state. The state name must be lower camel case. <strong>Never style these classes directly; they should always be used as an adjoining class.</strong></p>

<p>This means that the same state names can be used in multiple contexts, but every component must define its own styles for the state (as they are scoped to the component).</p>

<p>Don’t use <code>is-stateName</code> classes when you should be using a <code>ComponentName--modifierName</code> class. <code>is-stateName</code> classes should only be used for <strong>temporary</strong> states (e.g. don’t use <code>is-flash</code> to create a flash notice when it should actually be <code>Notice--flash</code>).</p>

<div class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="nc">.DropdownMenu</span> <span class="p">{}</span>
<span class="nc">.DropdownMenu.is-expanded</span> <span class="p">{}</span></code></pre></div>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"DropdownMenu is-expanded"</span><span class="nt">&gt;</span>
  …
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="styling-dependencies">Styling dependencies</h3>

<p><strong>A component should not know about the implementation of its dependencies</strong>.
The appearance of dependencies must be configured using the interface they provide.</p>

<p>Controlling dimensions, margins, position, and inheritable styles of a
component can be done <em>indirectly</em>. Add a class to its root element, or wrap
it in another element.</p>

    </div>
  </div>
</div>


      <footer class="footer">
        This documentation format is forked from <a href="https://github.com/primer/primer">Primer</a>, copyright of GitHub 2016.<br>
      </footer>
    </div>

    <script src="/origin/assets/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
    </script>
  </body>
</html>
