// Fixed-width, centered col for site content.
.container {
  width: $container-width;
  margin-right: auto;
  margin-left: auto;
  @include floatContainer;
}

// Grid system
//
// Create rows with `.cols` to clear the floated cols and outdent the
// padding on `.col`s with negative margin for alignment.

//.cols {
//  margin-right: -$grid-gutter;
//  margin-left: -$grid-gutter;
//  @include floatContainer;
//}
//
//// Base class for every col (requires a col width from below)
//.col {
//  float: left;
//  padding-right: $grid-gutter;
//  padding-left: $grid-gutter;
//}

// Column widths
.one-third {
  width: 33.333333%;
}

.two-thirds {
  width: 66.666667%;
}

.one-fourth {
  width: 25%;
}

.one-half {
  width: 50%;
}

.three-fourths {
  width: 75%;
}

.one-fifth {
  width: 20%;
}

.four-fifths {
  width: 80%;
}

// Single col hack
.single-col {
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

// Equal width cols via table sorcery.
.table-col {
  display: table-cell;
  width: 1%;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
  vertical-align: top;
}
