/* Grid
   ========================================================================== */

$row-max-width: 70em;

$breakpoint--xxxx-sm: em-calc(440);
$breakpoint--xxx-sm: em-calc(480);
$breakpoint--xx-sm: em-calc(500);
$breakpoint--x-sm: em-calc(540);
$breakpoint--sm: em-calc(580);
$breakpoint--sm-md: em-calc(680);
$breakpoint--md: em-calc(740);
$breakpoint--md-lg: em-calc(900);
$breakpoint--small-breakpoint: $small-breakpoint;
$breakpoint--small-medium-breakpoint: em-calc(1140);
$breakpoint--medium-breakpoint: $medium-breakpoint;
$breakpoint--lg: em-calc(1200);
$breakpoint--x-lg: em-calc(1300);
$breakpoint--xx-lg: em-calc(1400);

$breakpoint--Editorial-large-text: $breakpoint--xx-lg;

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  max-width: $row-max-width;
}

.l-Wrapper--row {
  margin: 0 auto;

  @media only screen and (min-width: $breakpoint--xxxx-sm) {
    padding-left: 2%;
    padding-right: 2%;
  }
  @media only screen and (min-width: $breakpoint--xxx-sm) {
    padding-left: 3%;
    padding-right: 3%;
  }
  @media only screen and (min-width: $breakpoint--x-sm) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @media only screen and (min-width: $breakpoint--sm-md) {
    padding-left: 7%;
    padding-right: 7%;
  }
  @media only screen and (min-width: $breakpoint--md) {
    padding-left: 9%;
    padding-right: 9%;
  }
  @media only screen and (min-width: $breakpoint--md-lg) {
    padding-left: 12%;
    padding-right: 12%;
  }
  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    padding-left: 4%;
    padding-right: 4%;
  }
  @media only screen and (min-width: $breakpoint--medium-breakpoint) {
    padding-left: 4%;
    padding-right: 4%;
  }
  @media only screen and (min-width: $breakpoint--lg) {
    padding-left: 6%;
    padding-right: 6%;
  }
  @media only screen and (min-width: $breakpoint--x-lg) {
    padding-left: 9%;
    padding-right: 9%;
  }
  // @media only screen and (min-width: $breakpoint--xx-lg) {
  //   padding-left: 10%;
  //   padding-right: 10%;
  // }
}

.row--Editorial {
  @include padding-bottom(default);
  @include padding-top(default);

  @media only screen and (min-width: $breakpoint--medium-breakpoint) {
    @include padding-bottom(xx-large);
    @include padding-top(xx-large);
  }
}

@media only screen and (min-width: $breakpoint--medium-breakpoint) {
  .column-content--medium {
    max-width: 19em;
  }
  .column-content--narrow {
    max-width: 16em;
  }
}

.small-pull-4--absolute {
  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    left: -50%;
    position: absolute;
    width: 50%;
  }
  @media only screen and (min-width: $breakpoint--medium-breakpoint) {
    left: -52%;
  }
}

.small-push-top--absolute {
  top: 0;

  @media only screen and (min-width: $breakpoint--small-breakpoint) {
    top: 10.5em;
  }
  @media only screen and (min-width: $breakpoint--small-medium-breakpoint) {
    top: 8.5em;
  }
  @media only screen and (min-width: $breakpoint--xx-lg) {
    top: 7em;
  }
}

.block-grid-default-spacing > li {
  padding-bottom: $block-grid-default-spacing;
}

.u-hide-until--bp--md {
  display: none;

  @media only screen and (min-width: $breakpoint--md) {
    display: block;
  }
}

.bp--md-9 {
  @media only screen and (min-width: $breakpoint--md) {
    width: 75%;
  }
}

@media only screen and (min-width: $breakpoint--small-breakpoint) {
  .bp--md-9.medium-12 {
    width: 100%;
  }
}

/* Example styles for styleguide */

.DocsExample--grid .row,
.DocsExample--grid .row .column,
.DocsExample--grid .row .columns {
  line-height: 60px;
}

.DocsExample--grid .row .column,
.DocsExample--grid .row .columns {
  border: 1px solid #fff;
  @include background-color(gray-13);
  @include font-size(small);
}
