/* Heading component settings
 ==========================================================================
 The values for these variables must be aliases from our utilities:
 https://github.com/fac/fa-css-utilities/blob/master/_utility-aliases.scss
*/

$Heading-color: default;
$Heading-font: default;
$Heading-weight: semi-bold;
